<?xml version="1.0" encoding="UTF-8"?>
<!-- Optional: cache static files served from this folder. Safe with all PHP handler names. -->
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>
